@import 'mixins';
@import 'colors';
@import 'class-effects';
@import 'emailConfirmation';

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: black;
  overflow-x: hidden;
  color: white;
  font-family: 'Big Shoulders Text', cursive;
  position: relative;
}

nav {

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  width: 100%;
  img {
    width: 80px;
    height: 80px;
  }
  > i {
    font-size: 40px;
    cursor: pointer;
    color: black;
    padding-right: 15px;
  }
  ul {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-transform:translateY(2000px);
    -ms-transform:translateY(2000px);
    transform:translateY(2000px);
    opacity:0;
    transition: all .4s;
    i {
      color: white;
      z-index: 1000;
      font-size: 40px;
      position: absolute;
      top: 20px;
      text-shadow: 3px 3px 30px white;
      cursor: pointer;
      transition: all .5s;
      &:hover {
        color: lighten(green, 50%);
        text-shadow: 5px 5px 20px lighten(green, 50%);
      }
    }
    li {
      text-decoration: none;
      list-style-type: none;
      padding: 40px;
      font-size: 25px;
      letter-spacing: 7px;
      text-shadow: 5px 5px 15px white;
      transition: all .5s;
      &:hover {
        letter-spacing: 15px;
        color: lighten(green, 50%);
        text-shadow: 5px 5px 20px lighten(green, 50%);
      }
    }
  }
}


main {
  text-align: center;
  margin: 5vw auto;
}

#homepage {
  width: 100vw;
  height: 100vh;
  background-image:url("https://res.cloudinary.com/djad06sng/image/upload/v1570454434/show.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#blackout {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.0);
  @include flex-centering;
  h1 {
    font-size: 40px;
    font-family: 'Rubik Mono One', sans-serif;
    color: rgba(255, 255, 255, 0.7);
  }
  span {
    font-size: 80px;
    color: white;
    span {
      letter-spacing: 30px;
    }
  }
}

#message {
  > h1 {
    padding: 0 0 5vw 0;
    width: 90%;
    margin: 0 auto;
  }
  i {
    color: $green;
    font-size: 10vw;
    display: block;
    padding: 30px;
  }
  .grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    padding-bottom: 5vh;
  }
}

#austin {
  background-image: url("../images/austin.jpg");
  @include tiled-image;
}
#dave {
  background-image: url("../images/dave.jpg");
  @include tiled-image;
}
#will {
  background-image: url("../images/will.jpg");
  @include tiled-image;
}
#quentin {
  background-image: url("../images/quentin.jpg");
  @include tiled-image;
}
#show2 {
  background-image: url("../images/show2.jpg");
  width: 200%;
  height: 300px;
  background-position: center;
  background-size: cover;
}

#contact h1, h2 {
  padding: 20px 0;
}

form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  input, textarea {
    border: 2px solid white;
    background-color: black;
    color: white;
    padding: 5px;
    font-family: 'Big Shoulders Text', cursive;
    font-size: 20px;
  }
  label {
    padding: 10px;
    font-size: 20px;
  }
}

button {
  border: 2px solid white;
  padding: 15px 25px;
  color: white;
  background-color: $green;
  cursor: pointer;
  font-size: 25px;
  margin: 40px 15px;
  transition: all .4s;
  &:hover {
    transform: scale(1.1);
    background-color: black;
    color: $green;
    border-color: $green;
  }
}

#spotify > div > h1 > span {
  color: $green;
}

#whiteout {
  background-color: rgba(255, 255, 255, 0);
  padding: 2vw 5vw;
  text-align: center;
}

footer {
  background-color: $green;
  background-image: url("https://res.cloudinary.com/djad06sng/image/upload/v1570457001/caleb-george-pH88tHG-1yw-unsplash.jpg");
  background-position: bottom;
  background-size: cover;
  #social-media {
    padding: 15px 0;
    img {
      width: 80px;
      height: 80px;
      display: block;
      margin: 10px auto;
    }
    span {
      color: black;
    }
    i {
      color: black;
      cursor: pointer;
      font-size: 30px;
      margin: 0 5px 0 0;
      transition: color .3s;
      &:hover {
          color: $green;
      }
    }
    h3 {
      padding-top: 10px;
    }
  }
  iframe {
    background-color: rgba(255, 255, 255, 0.7);
  }
}

@media screen and (min-width: 600px) {
  #message > h1 {
    width: 70%;
  }
  #blackout span {
    font-size: 130px;
    span {
      letter-spacing: 40px;
    }
  }
}

@media screen and (min-width: 800px) {
  #message > h1 {
    width: 50%;
  }

  #message .grid {
    grid-template-columns: repeat(4, 1fr);
    padding: 5vw 15vw;
  }

  #show2 {
    width: 400%;
    height: 450px;
  }

  #spotify h1 {
    padding: 25px 5vw;
  }
  #spotify {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  form {
    width: 60%;
  }

  #blackout h1 {
    font-size: 150px;
  }
  #blackout span {
    font-size: 200px;
  }
  #whiteout {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  footer {
    #social-media {
      text-align: left;
      img {
        margin: 10px 0;
      }
    }
  }
}
